@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
  --color-primary: #2f80ed;
  --color-gray: #4f4f4f;
  --color-orange-100: #ffb485;
  --color-orange-200: #ffa770;
  --color-orange-300: #ffa770;
  --color-orange-400: #ff9a5c;
  --color-orange-500: #ff8e47;
  --color-orange-600: #ff8133;
  --color-orange-700: #ff751f;
  --color-orange-800: #ff680a;
  --color-orange-900: #f55e00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a:not(.footer) {
  height: 35px;
  appearance: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: transparent;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: var(--color-gray);
  cursor: pointer;
}
button:hover,
a:not(.footer):hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  transition: background-color 0.3s ease-in;
}

a:not(.footer) {
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-gray);
}

main {
  width: 100%;
}
main .container {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  gap: 2rem;
  padding: 1rem;
}
main .container section {
  grid-column: 1/span 3;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
}
main .container section .personal {
  display: flex;
  flex-direction: column;
}
main .container section .personal img {
  max-width: 100%;
  border-radius: 10px;
}
@media (min-width: 968px) {
  main .container section .personal img {
    max-width: 25%;
  }
}
main .container section .personal .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container section .personal .info .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}
main .container section .personal .info .top h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}
main .container section .personal .info .top small {
  font-weight: 500;
  font-size: 1.125rem;
  color: #828282;
}
main .container section .personal .info .top .contact {
  margin: 1rem 0;
}
main .container section .personal .info .top .contact .item {
  display: inline-flex;
  margin-top: 0.5rem;
}
main .container section .personal .info .top .contact .item span {
  font-size: 1.5rem;
}
main .container section .personal .info .top .contact .item p {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
}
main .container section .personal .info .bottom p {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #828282;
}
main .container section .personal .info .bottom p:nth-child(2) {
  display: none;
}
@media (min-width: 968px) {
  main .container section .personal .info {
    width: 72%;
    justify-content: start;
  }
  main .container section .personal .info .top {
    flex-direction: row;
    margin-top: 0;
  }
  main .container section .personal .info .top .contact {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  main .container section .personal .info .top .contact .item {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  main .container section .personal .info .bottom p:nth-child(1) {
    margin-top: 2rem;
  }
  main .container section .personal .info .bottom p:nth-child(2) {
    margin-top: 1.5rem;
    display: block;
  }
}
@media (min-width: 968px) {
  main .container section .personal {
    flex-direction: row;
    justify-content: space-between;
  }
}
main .container section .skills h2 {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}
main .container section .skills .skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 0.4rem 0;
}
main .container section .skills .skill p {
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
}
main .container section .skills .skill .bar {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #c4c4c4;
  border-radius: 20px;
}
main .container section .skills .skill .bar[data-load="60"]::after {
  width: 60%;
}
main .container section .skills .skill .bar[data-load="90"]::after {
  width: 90%;
}
main .container section .skills .skill .bar[data-load="80"]::after {
  width: 80%;
}
main .container section .skills .skill .bar::after {
  content: "";
  position: absolute;
  height: 10px;
  background-color: var(--color-primary);
  border-radius: 20px;
}
main .container section:nth-child(3) {
  padding: 0;
  background-color: transparent;
}
main .container section:nth-child(3) .header {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 10px;
}
main .container section:nth-child(3) .header p {
  font-size: 1.125rem;
  font-weight: 500;
}
main .container section:nth-child(3) .header .tags {
  display: grid;
  row-gap: 1rem;
  margin-top: 1rem;
}
main .container section:nth-child(3) .header .tags button.selected {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
@media (min-width: 968px) {
  main .container section:nth-child(3) .header .tags {
    display: block;
  }
}
main .container section:nth-child(3) .projects {
  width: 100%;
  margin-top: 2rem;
}
main .container section:nth-child(3) .projects .project {
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  column-gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 10px;
  transition: height 0.2s ease-in, margin-bottom 0.2s ease-in, padding 0.2s ease-in, opacity 0.3s ease-in;
}
main .container section:nth-child(3) .projects .project .image {
  grid-column: 1/span 2;
}
main .container section:nth-child(3) .projects .project .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media (min-width: 968px) {
  main .container section:nth-child(3) .projects .project .image {
    grid-column: auto;
  }
}
main .container section:nth-child(3) .projects .project .content {
  margin-top: 1rem;
  grid-column: 1/span 2;
}
main .container section:nth-child(3) .projects .project .content h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
main .container section:nth-child(3) .projects .project .content .tags {
  display: flex;
  max-width: 200px;
}
main .container section:nth-child(3) .projects .project .content .tags .tag {
  padding: 0.2rem 1rem;
  background: var(--color-primary);
  color: white;
  border-radius: 20px;
  font-size: 0.857rem;
  text-transform: lowercase;
  margin-right: 1rem;
}
main .container section:nth-child(3) .projects .project .content .description {
  margin-bottom: 2rem;
}
main .container section:nth-child(3) .projects .project .content .description h2 {
  margin: 1.5rem 0;
}
main .container section:nth-child(3) .projects .project .content .description p {
  font-size: 1rem;
  font-weight: 500;
  color: #828282;
}
main .container section:nth-child(3) .projects .project .content .links a {
  width: 120px;
  height: 40px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
main .container section:nth-child(3) .projects .project .content .links a:hover {
  color: white;
}
main .container section:nth-child(3) .projects .project .content .links a:nth-child(1) {
  background-color: var(--color-primary);
  color: white;
}
@media (min-width: 968px) {
  main .container section:nth-child(3) .projects .project .content {
    grid-column: 2/span 2;
  }
}
main .container section:nth-child(3) .projects .project.hide {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  transition: opacity 0.3s ease-out, height 0.5s ease-out, margin-bottom 0.2s ease-out, padding 0.2s ease-out;
}
main .container section:nth-child(3) .projects .project:nth-child(2) {
  grid-column: 1/span 2;
}
@media (min-width: 968px) {
  main .container section:nth-child(3) .projects .project {
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
  main .container section:nth-child(3) .projects .project:nth-child(2) {
    grid-column: 2/span 2;
  }
}
main .container section:nth-child(3) .empty {
  opacity: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 500;
  transition: opacity 0.3s ease-out;
}
main .container section:nth-child(3) .empty.show {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
@media (min-width: 968px) {
  main .container section {
    grid-column: auto;
    padding: 1rem 1.5rem;
  }
  main .container section:nth-child(1) {
    grid-column: 1/span 3;
  }
  main .container section:nth-child(3) {
    grid-column: 2/span 2;
    grid-row: 2/span 3;
  }
}
@media (min-width: 968px) {
  main .container {
    max-width: 1200px;
  }
}
@media (min-width: 968px) {
  main {
    display: flex;
    justify-content: center;
  }
}

footer {
  min-height: 20px;
  margin: auto auto 15px auto;
  font-size: 0.875rem;
  font-weight: 500;
  color: #828282;
}
footer a {
  font-weight: 700;
  color: #828282;
}

/*# sourceMappingURL=style.css.map */
